div.nxc-social-networks-icon-container { text-align: center; }
div.nxc-social-networks-icon-container a { text-decoration: none; line-height: 0; letter-spacing: -1px; font-size: 0; margin-right: 20px;}
div.nxc-facebook-icon-container img, div.nxc-twitter-icon-container img, div.nxc-linkedin-icon-container img, div.nxc-google-icon-container img { padding: 5px; text-decoration: none; }

a.nxc-facebook-signin, a.nxc-twitter-signin, a.nxc-linkedin-signin, a.nxc-google-signin { width: 150px; height: 22px; display: block; text-indent: -500em; overflow: hidden; }
a.nxc-facebook-signin { background: url('../images/facebook/signin.png') no-repeat top; }
a.nxc-twitter-signin { background: url('../images/twitter/signin.png') no-repeat top; }
a.nxc-linkedin-signin { background: url('../images/linkedin/signin.png') no-repeat top; }
a.nxc-google-signin { background: url('../images/google/signin.png') no-repeat top; }
a.nxc-facebook-signin:hover, a.nxc-linkedin-signin:hover, a.nxc-google-signin:hover { background-position: 0 -24px; }
a.nxc-twitter-signin:hover { background-position: 0 -22px; }
a.nxc-facebook-signin:active, a.nxc-twitter-signin:active, a.nxc-linkedin-signin:active, a.a.nxc-google-signin { background-position: bottom; }

div.nxc-social-networks-login { margin: 0px -5px 0px -5px; }
div.nxc-social-networks-login a { margin: 5px; float: left; }

table.list td.nxc-social-network-td-container { padding: 10px; vertical-align: top;}
table.list label.nxc-social-network-attribute-header, label.nxc-social-network-attribute-header { font-weight: bold; padding-bottom: 5px; color: #333; }
table.nxc-social-network-attribute-list { margin-bottom: 10px;}
.nxc-social-network-attribute-controlbar { padding-bottom: 10px;}
